appsettings.*.json
tracing*.log

.vs/
.vscode/
.fake/
.idea/
.ionide/

[Pp]ackages/
[Pp]aket-files/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/

*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj

node_modules/
bower_components/
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ncrunchproject
*ncrunchsolution
_Ncrunch_*
TestResults.xml

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

structurizr-*.json

assets/burgerloket/2017-09-20-burgerloket-frontend/

src/PublicServiceRegistry.UI/wwwroot/*
!src/PublicServiceRegistry.UI/wwwroot/docs/
src/PublicServiceRegistry.UI/**/*.js.map
src/**/logs/*

# Dist
/public/__build__/
/src/*/__build__/
/__build__/**
/public/dist/
/src/*/dist/
/dist/**
.webpack.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

test/PublicServiceRegistry.UI.Tests/coverage
**/*/TestResults/
**/*/TestResults.xml

# Test reports
test/ui/unit/coverage/
coverage

# We love Word.
**/*/~$M-*.docx
